*{
    font-family:'sans-serif';
    margin-top:0;
    margin-bottom: 0px; 
}

body{
     background-color: #f5f5f5;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

    
}

.logo{
    font-size:20px;
    margin: 20px;
    margin-top: 15px;
}

.logo .p{color:#5a9;}
.logo .o{color:#f90;}
.logo .s{color:#666;}


.search{
   flex:1;
   margin: 0 40px;
   margin-left: 100px;
}

.search input{
    background-color: #d6e3eb;
    width:250px;
    height:30px;
    padding:10px;
    font-size: 16px;;
    text-align: center;
    border:none;
    border-radius:10px;
}

.date{
    margin-top: 10px;;
}

.rheader{
    justify-content: space-between;
    display: flex;
    gap:30px;
    margin-right: 70px;

}


.rheader .btn{
    background-color: #7bc4c4;
    width: 100px;
    height:40px;
    font-size: 10px;;
    text-align: center;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.menu{
    margin-left:100px;
    margin-top:70px;
    margin-right: 350px;
}

.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.item{
    background-color: #d6e3eb;
    width:90%;
    height:100%;
    text-align: center;
    border:none;
    border-radius:10px;
    cursor: pointer;
}

.menu-img{
    width: 100%;
    height: 130px;
    border:none;
    border-radius:10px;
    padding: 0px;
    object-fit: cover;
}

.item_name{
    margin-top:0px;
    font-size: 25px;
}

.category{
    display: flex;
    padding: 5px;
    text-align: left;
    margin-top: 10px;
    justify-content: space-between;
}

.emoji{
    align-items: right;
}

.item-content{
    padding:5px;
}

.category-tabs{
    display: flex;
    background-color:#d6e3eb;
    padding:20px;
    gap:80px;
    justify-content: space-between;
    position: sticky;
    z-index: 100; 
    top: 0;
}

.tab{
    flex:1;
    background-color: #f5f5f5;
    width:150px;
    height:50px;
    text-align: center;
    border:none;
    border-radius:10px;
    cursor: pointer;

}

.tab:hover {
    background-color: #404a41;
}



